/* styles.css */

body {
    margin: 0;
    background-color: rebeccapurple;
}

header {
    justify-items: center;
    border: 2px solid red;
} 

#content {
    justify-items: center;
    text-align: center;
    border: 2px solid yellow;
}

.menu {
    text-align: left; 
}